.player-wrapper {
  object-fit: contain;
  min-height: 50vh;
  max-height: 50vh;
}
:root {
  --plyr-color-main: #2e3d6b;
}

.content {
  position: relative;
  width: 500px;
  margin: 0 auto;
  padding: 20px;
}
.content video {
  width: 100%;
  display: block;
}
.content:before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
